<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="bg-info text-white p-3 mt-4">
                <div class="row">
                    <div class="col-4">
                        <p *ngIf="selectedProduct" style="display: inline-block;">Selected Product {{selectedProduct.name}} </p>
                    </div>
                    <div class="col-8"><button style="display: inline-block;" class="btn btn-secondary float-right" (click)="add()">Add +</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered ">
                <thead class="thead-dark ">
                    <tr>
                        <th>ID</th>
                        <th> Image </th>
                        <th> Product Name </th>
                        <th> Price </th>
                        <th style="width: 100px; "></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products " [class.bg-info]="check(product.id) ">
                        <td>{{product.id}}</td>
                        <td><img class="img-fluid " style="max-width: 120px; " src="assets/img/{{product.imgUrl}} "></td>
                        <td> {{product.name}} </td>
                        <td> {{product.price | currency}} </td>
                        <td style="width: 140px; ">
                            <button class="btn btn-primary btn-sm mr-1 " (click)="selectProduct(product.id) "> Edit </button>
                            <button class="btn btn-danger btn-sm " (click)="delete(product.id) ">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 mt-4 " *ngIf="selectedProduct">
            <div class="form-group ">
                <label>Product ID</label>
                <input class="form-control " [value]="selectedProduct.id" #p_id disabled>
            </div>
            <div class="form-group ">
                <label>Product Name</label>
                <input class="form-control " [value]="selectedProduct.name " #p_name>
            </div>
            <div class="form-group ">
                <label>Image Url</label>
                <input class="form-control " [value]="selectedProduct.imgUrl " #p_image_url>
            </div>
            <div class="form-group ">
                <label>Price</label>
                <input class="form-control " [value]="selectedProduct.price " #p_price>
            </div>
            <div class="form-group ">
                <button class="btn btn-success btn-sm mr-1 " (click)="save(p_id,p_name,p_image_url,p_price) ">Save</button>
                <button class="btn btn-danger btn-sm " (click)="cancel() "> Cancel </button>
            </div>
        </div>
    </div>
</div>